[2016-10-14 16:40] cdrage opened #26 "Differentiating between Docker Compose and Open Compose"
There should be some form of meta-data in order to detect / differentiate whether or not this is an Open Compose format or Docker Compose due to the similarity of the projects.

For example, either a required parameter within meta-data or something that indicates it's a different format.

For example:

[code]

Or something ^^

[2016-11-07 07:07] TomasTomecek commented on #50
`ansible-container` solves this by enabling [overrides](https://docs.ansible.com/ansible-container/getting_started.html#container-yml) for various options in different environments. Some generic solution would be very much appreciated!

[2017-02-05 12:48] kadel opened #4 "add README.md"

[2017-02-09 11:54] kadel opened #11 "make test runs tests for packages in vendor"
`make test` should run tests only for opencompose packages. Currently it also runs tests for all vendored packages

[2017-02-09 12:31] #11 closed, assigned to tnozicka

[2017-02-17 08:22] kadel commented on #53
Hi @ryansb, OpenCompose project was rebooted with slightly different approach and we wanted to start with new clean repository. We didn't want to lose all old research so we just renamed old opencompose to to opencompose-old.

Everything is in  https://github.com/redhat-developer/opencompose. Or should be there in the future, it is all under heavy development.

[2017-02-17 15:25] j00bar commented on #53
Howdy, @kadel - The reason we're asking is that we're working on a "Mk. II" version of Ansible Container, and part of that is reconsidering our `container.yml` file, which is an orchestration document analogous to OpenCompose or Docker Compose. We'd previously received encouragement from other teams at Red Hat to try to follow OpenCompose or at least track somewhat closely to it. Absent a spec to

[2017-02-17 16:45] pradeepto commented on #53
hey @j00bar, We are working on the spec/format. It does have some similarities from the older version but not everything is same. There are bits for which we would like more inputs from community as well. We should put the working version of spec asap. We will keep you all posted. And as Tomas said, please follow the new repository https://github.com/redhat-developer/opencompose .

[2017-02-21 10:30] tnozicka opened #19 "Allow specifying replica count for service"
OpenCompose user should be allowed to specify number of replicas for the service to be able to scale it.

Proposal: Add an *optional* field named `replicas` into `ServiceSpec`. It defaults to value `1` and it should map into generated deployment under [DeploymentSpec.replicas](https://kubernetes.io/docs/api-reference/v1.5/#deploymentspec-v1beta1)

[2017-02-21 10:50] tnozicka opened #20 "Extend generated service options"
At this point we always generate k8s service with the default type `ClusterIP`. This was only the first attempt at generating k8s services and we need to get better at this and support type `LoadBalancer`. Although HTTP based services can be exposed using L7 Kubernetes and OpenShift objects (Ingress and Routes - which we don't yet support), non-HTTP services need k8s service of type `LoadBalancer`

[2017-02-21 10:57] tnozicka opened #21 "Ingress support"
OpenCompose file should allow user to specify an Ingress to allow him to expose services on L7 (HTTP) layer.

Ref:
 - https://kubernetes.io/docs/user-guide/ingress/
 - https://kubernetes.io/docs/resources-reference/v1.5/#ingress-v1beta1
 - https://docs.openshift.org/latest/architecture/core_concepts/routes.html
 - https://docs.openshift.org/latest/dev_guide/routes.html

[2017-02-21 11:09] tnozicka opened #22 "Build support"
OpenCompose should provide user with a syntax to describe building his image.
Some form of abstraction on top of
 - Docker build
 - S2I ([S2i tool](https://github.com/openshift/source-to-image), [S2I in OpenShift](https://docs.openshift.org/latest/architecture/core_concepts/builds_and_image_streams.html#source-build))
 - maybe more?

would be nice.

[2017-02-21 11:14] tnozicka opened #23 "Labels support"
OpenCompose file should allow user to specify annotations and labels on his objects.

[2017-02-21 12:36] tnozicka opened #24 "Support for health checks"
OpenCompose file should provide user with a way to specify health checks.

Ref:
 - https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/
 - https://kubernetes.io/docs/api-reference/v1.5/#container-v1

[2017-02-21 13:30] tnozicka opened #25 "Support for storage (volume mounts)"
OpenCompose file should allow user to specify volume (storage) mounts for services.

E.g. w/o it, the [wordpress example](https://github.com/redhat-developer/opencompose/blob/master/examples/wordpress/no-storage.yml) now looses all the data if database container is restarted.

Ref:
 - https://kubernetes.io/docs/tasks/configure-pod-container/configure-volume-storage/
 - https://kubernetes.io/docs/t

[2017-02-21 13:46] surajssd commented on #19
I would like to work on it :)

[2017-02-22 13:15] tnozicka opened #27 "Tooling for releases"
Currently we do not have any release "scripts" to properly package OpenCompose for a release.

There is some initial work for binary versioning here https://github.com/redhat-developer/opencompose/tree/master/pkg/version and we need some script/makefile_target to automate making tars and other artifacts. And to consider using `go generate` vs. injecting variables into the build.

[2017-02-22 14:16] tnozicka opened #28 "Zsh completion support"
At this point OpenCompose is missing completion support for `Zsh`. It would be nice to add it to complement `Bash` completion we already have. The `Bash` completion doesn't work for users running `Zsh`.

I have seen some similar work in kubectl which could serve as inspiration.

[2017-02-22 14:53] #4 closed, assigned to nobody

[2017-02-22 20:38] cdrage commented on #28
@tnozicka Check out the work I did for Kompose :)

[2017-02-22 21:01] tnozicka commented on #28
@cdrage I know about it but I didn't think you did more than `s/kubectl/kompose/`. Honestly I just didn't have time to investigate it properly yet. It would help us plan for this feature if you could comfirm that it's just about taking the bellow mentioned kubectl code.

Ref:
 - [Kompose Zsh completion](https://github.com/kubernetes-incubator/kompose/blob/816b74811d4b4d0a8afb46a2d3d4af5588b6b1b3/c

[2017-02-22 21:45] cdrage commented on #28
Yup, it is the same. With the exception of me changing the name from zsh_tail to zshTail since go lint was complaining.

[2017-02-23 06:31] tnozicka commented on #28
@cdrage Thanks. Now that you confirmed it's just about taking that snippet I'll look at it sooner since this shouldn't take much of my time. And I actually use Zsh :)

[2017-02-23 06:35] tnozicka commented on #28
For the record: spf13/cobra has an old [issue](https://github.com/spf13/cobra/issues/107) about Zsh autocompletion. We'll go for that kubectl hack because the issues isn't moving anywhere.

[2017-02-24 10:59] #20 closed, assigned to tnozicka

[2017-02-24 13:30] #28 closed, assigned to tnozicka

[2017-02-24 16:44] #27 closed, assigned to tnozicka

[2017-02-24 19:05] cdrage opened #36 "Provide shorter URL/command for installing from GitHub releases"
Binaries on the release page should be binaries and not zip / tar.gz files.

[2017-02-24 19:15] tnozicka commented on #36
@cdrage I don't think so, but we can discuss it.

It dramatically reduces size in our case from ~36MB to ~5MB and the 2 biggest related projects do it this way:
 - https://github.com/kubernetes/kubernetes/releases
 - https://github.com/openshift/origin/releases

[2017-02-24 19:40] cdrage commented on #36
Ah, just makes it *way* easier to simply curl the binaries.

Example: https://kubernetes.io/docs/user-guide/prereqs/

[2017-02-24 20:27] kadel commented on #36
what if we put both there? binaries and archives?  everyone can choose.
Storage is free ;-)

[2017-02-27 10:10] tnozicka commented on #36
Ok, I thought what was a different related project that is famous for making it simple and easy for developers to use and install? So I went and looked into [docker releases](https://github.com/docker/docker/releases) and all the binaries are archives, again. It seems to me like a pattern for GH releases.

@cdrage I don't agree at all with ditching archives (tars, zip) from our release page, but I

[2017-02-27 13:35] cdrage commented on #36
Archives are automatically created by GitHub so it shouldn't be a problem with the addition of the binaries :)

We should also be doing sha256 / encrypted signatures on the releases as well.

[2017-02-27 14:43] tnozicka commented on #36
I meant archives containing the binary. Those will stay.

[2017-02-27 15:32] cdrage opened #37 "Odd version number"
[code]

Should this be 0.1.0-alpha now?

[2017-02-27 15:33] cdrage opened #38 "Odd spacing on `opencompose validate --help`"
[code]

[2017-02-27 15:40] tnozicka commented on #37
@cdrage It should depending on where and how it was build.

Would you mind sharing where that binary came from or how did you build it?

[2017-02-27 15:45] tnozicka commented on #37
Most likely an issue of not being build properly by `make build`. (We don't provide version info with `go get` and `go build`.)

https://github.com/redhat-developer/opencompose/blob/master/Makefile#L19-L24

[2017-02-27 16:49] cdrage commented on #37
@tnozicka
All I did was a `go get github.com/redhat-developer/opencompose`. No building of myself.

I think go get *should* provide a version indicating it's from HEAD.

[2017-02-27 16:51] pradeepto commented on #37
I could reproduce this. I did a `go get` as well. cc @tnozicka

[2017-02-27 17:11] tnozicka commented on #37
@cdrage technically it can't. But it say's `not_a_git_tree`.

You are right; the issue really is that `go get` is (no longer) a supported installation way from source.

The supported install way changed to:
[code]

README should reflect it shortly

[2017-02-27 17:12] tnozicka commented on #37
Also Kubernetes, OpenShift and Docker behave the same way when build the *unsupported* `go get` way.

[2017-02-27 19:04] cdrage commented on #37
@kadel @tnozicka @pradeepto

I *really* don't think we should dismiss `go get` simply because it doesn't fit into displaying the correct version (you'd just say `HEAD` as the version like Kompose does).

Many projects use `go get` as a simple way of installation from upstream / source.

If you want an "official" way, we should be curl/wget'ing a binary to `-O /usr/local/bin` and `chmod +x`'ing it.

[2017-02-27 19:05] cdrage commented on #36
I'd suggest renaming the way you name archives as well as `curl -L https://github.com/redhat-developer/opencompose/releases/download/v0.1.0-alpha.0/opencompose-v0.1.0-alpha.0-d0edfd9-linux-64bit.tar.xz | tar -xJf - -C ${HOME}/bin ./opencompose` is a long command as it is..

Also, why is it going to ${HOME} ? Not /usr/local/bin/ ?

[2017-02-27 19:17] cdrage commented on #36
Ex renaming to:
[code]

For each release.

[2017-02-28 08:18] tnozicka commented on #37
Saying HEAD does not give you much but gets you into trouble. It is surely possible to switch, but that makes it unpredictable for external integrations parsing the version. That said I am willing to make a compromise here if that would be the general consensus. @pradeepto @kadel ? Kubernetes and OpenShift keep it parsable https://github.com/kubernetes/kubernetes/blob/master/pkg/version/base.go#L5

[2017-02-28 08:54] tnozicka commented on #36
@cdrage I don't wan't it to sound too harsh but if you want to change things give us a good reason to do so! Compare it to what naming convention we have, what are the advantages and disadvantages of the new naming and why we should adopt those. We are not gonna change it just because *"you like it this way"*. I went into a lot of detail and gave you references to why we have the current conventio

[2017-02-28 13:46] cdrage commented on #36
@tnozicka

Having a shorter name equals to a shorter command / cleaner command when installing. Although I do believe we should keep archives on the GitHub release page, we can utilize GitHub as a CDN when downloading the binaries instead of having it hosted elsewhere.

So essentially the best of both worlds, having tagged / encrypted signatured .tar.gz archives similar to long-running projects (s

[2017-02-28 13:51] cdrage commented on #37
Ahhh I see what you mean with the Kubernetes project and how they do it, it's a good indication to see whether or not someone is using a tagged release! Following their conventions would be the best.

I agree with having the tagged releases being the supported way (for the majority of users like you said)

My question is.. what would the difference be (other than version.go having a different outp

[2017-02-28 15:05] tnozicka commented on #37
At this point the only difference is setting the version/commit variables with ldflags. Potentially we could add other features that require it, but I don't foresee any right now and I will do my best to keep `go get` working unless there is no better way like with this versioning feature.

[2017-02-28 16:50] tnozicka commented on #36
@cdrage thanks for going into detail.

Agreed.

Just to clarify on archives. There are 3 archives at this point that we create and support: opencompose-v0.1.0-alpha.0-d0edfd9-(linux,macos,windows)-64bit.(tar.xz,zip,zip). Whenever I said archives I meant those and they contain the opencompose binary, README.md and LICENSE. Then there are 2 with the source code itself not supported or created by our

[2017-02-28 17:01] tnozicka commented on #36
Although I don't mind the non-pretty download URL because majority of the people will just copy-paste it from README.

[2017-02-28 18:29] cdrage commented on #36
@tnozicka Going forward with your proposal would be okay by me. Still concerned in regards to the `${HOME}/bin` path. I'm assuming that's a placeholder and will be different on the actual commands?

If you are having the binaries in .tar.gz's, I think similar to `oc`, we should download + untar ONLY the binary, not including the license, README, etc.

[2017-03-01 12:47] tnozicka commented on #36
I was also considering `/usr/local/bin` at that time but that requires elevated (admin) privileges. That's why I've put there $HOME/bin. Not ideal, maybe even *wrong* as I don't think it's in PATH by default. So at this point it's meant as a placeholder for user to replace if he wishes to do so.
I'll send a PR to replace the step with something in terms of:
[code]
With `mv` being an *optional step

[2017-03-02 12:52] #37 closed, assigned to tnozicka

[2017-03-02 14:25] tnozicka opened #43 "Support for secrets"
OpenCompose file should allow user to specify some kind of mounting secrets because specifying password, certificates, ... is not secure by using environment variables and it should be decoupled from the application definition.

Ref:
 - https://kubernetes.io/docs/user-guide/secrets/

[2017-03-02 14:50] tnozicka opened #44 "Support for repeating tasks (CronJobs)"
When describing applications user sometimes needs to define an action that happens one a time. Kubernetes now has CronJobs for exactly this purpose and we should allow OpenCompose users to define it.

Ref:
 - https://kubernetes.io/docs/user-guide/cron-jobs/
 - https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cronjob.md

[2017-03-02 18:18] tnozicka opened #45 "Support for stateful applications (StatefulSets)"
Stateful application like databases need special treatment. E.g. you can't just move them around because they need to be bound to storage and existing stateful applications often require for their instances to have stable hostname and storage. There is a corresponding piece in Kubernetes named StatefulSets (used to be named PetSets).

OpenCompose should provide user with a way to define such appli

[2017-03-03 18:24] tnozicka opened #47 "Support for multiple delivery environments"
OpenCompose user should be able to describe his application in one place and than apply separate configurations for his environment like dev, test, prod, ...

This can be done in multiple ways. One of them would be by merging multiple OpenCompose files.

(Needs more investigation.)

[2017-03-06 15:28] #38 closed, assigned to nobody

[2017-03-07 12:51] pradeepto opened #50 "Handle multiple API versions"
How do we handle different API versions for Kubernetes objects? OpenCompose spec needs a provision such that this information can be passed as metadata which can be translated whole converting to k8s artifacts/configs.

[2017-03-07 12:52] pradeepto opened #51 "Consider a syntax that's somewhat less fragile than yaml"
How about HCL? jsonnet?

[2017-03-07 12:54] pradeepto opened #52 "Handle extension APIs from aggregated API servers and ThirdPartyResource"
This needs some real thought. If this is done correctly, OpenCompose can become extensible by users of it.

[2017-03-07 13:06] pradeepto opened #53 "Autogenerate reference documentation"
How can this be done? Is there anything we can steal from kubernetes? Is there a golang way of generating documentation from code like Python docstrings? Can we use godoc?

[2017-03-07 15:41] kadel opened #54 "readme - add FAQ section or section comparing OpenCompose to other projects"
We are starting to have some repeating questions about the project.

Biggest question right now are about OpenCompose positioning :
- OpenCompose vs Helm
- OpenCompose vs Kompose
- OpenCompose vs AnsibleContainer/AnsibleApp

It might be worth to sum it up and add it to readme

[2017-03-07 16:21] tnozicka opened #55 "Allow specifying file as URL"
User should be allowed to specify file with the `-f` option as URL. Same way as `kubectl` and `oc` does it. This will make the tool more user friendly.

[2017-03-07 16:35] tnozicka commented on #51
I don't like any of them. We want the tool to be user friendly and `json-like` syntax is not going to do the job. Yeah, `yaml` can be fragile, but still the best choice IMO.

[2017-03-07 17:43] pradeepto commented on #54
Thank you @kadel for starting this issue.

[2017-03-08 08:50] surajssd commented on #50
we can have table which maintains what artifacts are supported in what version

like `StatefulSet` won't be in list for `v1.3` but will be in `v1.5`

[2017-03-08 09:10] tnozicka commented on #50
We should not care about this much. This should be a task for k8s client-go. Something in terms of
[code]
And just putting there svg of what we want to generate for. Last time I've checked there were a lot of object (we use) missing under `unversioned`. But AFAIK it is not finished yet in client-go. And some resources will be in `unversioned` after they leave beta. Frankly k8s don't really have an

[2017-03-08 09:38] tnozicka commented on #53
This would be great for long term as it will ensure the file reference format is always up to date.

Not sure about any solution we could use from k8s. They have it easier because their API is described by swagger/protobuf. We don't have such API. Our parser is defined by the parsing code and structures.

Not the case. This documents the code, not the parser. It needs special interpretation and *t

[2017-03-08 10:36] tnozicka commented on #52
Actually, after looking at aggregated API servers and ThirdPartyResources I would imagine it a bit differently. OpenCompose could be an aggregated API server having it's own 3rdparty resource and a controller. This would be an addition/replacement to `opencompose` tool which would allow you to do `kubectl create -f opencompose.yaml` or any other operation directly on OpenCompose file. The controll

[2017-03-08 11:08] tnozicka commented on #52
Also merging multiple files (using `-f` option) wouldn't work for this.

[2017-03-08 12:50] tnozicka commented on #55
Ideally this should be as easy as "copying" what Kubernetes already does, but I haven't checked. We use very similar architecture concerning CLI.

[2017-03-08 14:58] kadel commented on #51
Yaml might be best option for use, but I don't want to dismiss other formats without doing some research and gathering some pros and cons.

[2017-03-08 15:07] tnozicka commented on #51
@kadel feel free to do so :)

[2017-03-08 19:42] concaf opened #57 "No output on successul conversion"
Successful conversion does not print any success message, which would be helpful to have.
A list of the files created and the next steps could help.

[2017-03-09 07:27] tnozicka commented on #57
@containscafeine Thanks for filing the issue. We talked about this sometime ago with @kadel but haven't addressed it yet. I'll take a look.

[2017-03-09 10:05] tnozicka opened #58 "Better naming for generated files"
At this point we generate files named with pattern `<object_type>-<service_name>.yaml`. (My fault, actually.)

IMO it should be the other way around `<service_name>-<object_type>.yaml`. It makes them better to work with - alphabetical sorting merges them into groups by service name.

[2017-03-09 12:09] surajssd opened #60 "opencompose version shows as -not_a_git_tree, is this normal?"
Installed opencompose like this:
[code]

and the version it is showing to me:
[code]

[2017-03-09 12:57] tnozicka commented on #60
@surajssd Read the README :)
https://github.com/redhat-developer/opencompose/blame/master/README.md#L36

[2017-03-09 13:27] surajssd commented on #36
Talking about pretty URLs, the script can do something as checks on the OS and then put the binary in the user specific PATH directory.

For e.g. Fedora has `~/.local/bin` is under PATH, need to look at other distros. This won't need elevated permissions.

[2017-03-09 14:54] concaf opened #61 "Using "-" for stdout?"
Hi,

Currently when `--output-dir` is set to `-` then we print the output to STDOUT, but generally in other CLI tools I have used, `-` is generally used to accept input from STDIN.

I could be totally wrong, but this looked a bit out of place with how I have been using other tools.

Thoughts?

[2017-03-09 15:18] concaf opened #62 "Add support for multiple file inputs?"
$SUBJECT

[2017-03-09 15:20] concaf opened #63 "`opencompose convert -f -` should accept input from STDIN?"
$SUBJECT

[2017-03-10 09:34] surajssd opened #65 "Change the file naming convention to <service_name>-<object_type>"
Right now if I run opencompose cli tool:
[code]
The files generated are:
[code]

Which is hard to search visually when there are multiple files generated due to multiple services.

For e.g. when there are more than 5 services then while feeding some file of service i will have to do is Deployment.<service-name>, as opposed to what I can do with the proposed implementation is that I can type servic

[2017-03-10 10:29] surajssd commented on #60
@tnozicka still the same

pulling latest bits
[code]

installing opencompose
[code]

this is in GOPATH/bin/
[code]

opencompose version
[code]

[2017-03-10 10:48] kadel commented on #19
This might be a little bit more trickier. I don't think we should default to 1.
If `replicas` is not set in OpenCompose file, than it should be also unset in generated `PodSpec`.

Replica count might be different on the server from what is specified in OpenCompose file.
If you default to `replicas: 1` it will always overwrite replica number when doing `kubectl apply`.
In some cases this might caus

[2017-03-10 10:55] kadel commented on #65
I believe this is duplicate of https://github.com/redhat-developer/opencompose/issues/58

[2017-03-10 14:17] surajssd commented on #65
@kadel yes it is duplicate sorry about that! closing!

[2017-03-10 14:17] #65 closed, assigned to nobody

[2017-03-10 17:41] tnozicka commented on #60
@surajssd ok, this is strange. Can you give me the exact git sha you are on so I can try to reproduce? e.g. by `git fetch --all --prune && git branch -vv`

Ideally could you please also try running `git describe --tags`?

[2017-03-10 18:44] tnozicka commented on #63
yes, it should; it's just not implemented yet

[2017-03-10 18:49] tnozicka commented on #62
Yes, it is planned :) Now we can track it in an issue.
https://github.com/redhat-developer/opencompose/blob/master/pkg/cmd/convert.go#L84

[2017-03-10 19:04] tnozicka commented on #61
@containscafeine My feeling was that it means `not a file` so you can use it for both `stdin` and `stdout`. I am open to suggestions on how to handle it differently if it would be an issue.

[2017-03-13 10:39] concaf commented on #63
@tnozicka picking this up

[2017-03-13 10:46] surajssd commented on #62
will this be just adding services from multiple files and converting it, or will this also be a merge of objects like `kompose` does?

[2017-03-13 10:51] surajssd commented on #60
@tnozicka

here is what you requested for:
[code]

[2017-03-13 10:56] kadel opened #68 "Support for Init Containers."
How can we add support for Init Containers? Or at least don't close the door for future addition.

[2017-03-13 11:19] tnozicka commented on #63
also I think that `kubectl` and `oc` do the same with not specifying `-f` (`-f=""`)

generally we want the same behaviour as there have so ideally look into their source code

[2017-03-13 11:25] tnozicka commented on #62
we had some notion of merging objects but no decision has been made yet. we will discuss it once the more pressing issues are addressed

[2017-03-13 15:24] tnozicka opened #71 "Add cross compilation support to release tooling"
We need to extend our release tooling with cross compilation support.

[2017-03-13 15:46] tnozicka commented on #60
@surajssd  Thanks for the info. I have checked revision `4d3727e` and it works for me. This have to be an issue between the Makefile and your system.

Before we begin, I am not particularly proud on how we do it at this time, but please bear with me. And yes we don't check for some errors because they can be caused by your code not actually being in a git tree.

The magic is here - https://github.

[2017-03-13 15:49] tnozicka commented on #62
actually, a duplicate of https://github.com/redhat-developer/opencompose/issues/47

[2017-03-13 15:49] #62 closed, assigned to nobody

[2017-03-14 10:27] kadel opened #73 "Comparison to similar projects"
pick some example applications and show how it looks like with:
 - opencompose
 - kompose
 - helm
 - ansible-container

[2017-03-14 10:27] kadel commented on #54
https://github.com/redhat-developer/opencompose/issues/73 might be related to this

[2017-03-15 10:44] surajssd opened #75 "Allow `make test` to pass -v flag"
$subject

This helps in knowing the errors where tests are failing and also see the logs of tests the way they are run.

[2017-03-15 14:03] tnozicka commented on #75
Possible, but if the test fails you can always run it by `go test` with what ever parameters you want, right?

[2017-03-16 09:27] surajssd commented on #60
[code]

Now this works for me, I don't know what changed, but something surely did! Anyway thanks @tnozicka , closing this!

[2017-03-16 09:27] #60 closed, assigned to surajssd, tnozicka

[2017-03-16 09:31] surajssd commented on #75
yes, that is possible but having a flag will help and I think in travis the tests should run in verbose mode anyway.

[2017-03-16 12:51] concaf opened #76 "Return better error in case of invalid input resource"
This is how opencompose errors when invalid input resource is passed -

[code]

This is how oc errors when an invalid input resource is passed -

[code]

We should improve the error, like we should return the reason why the resource is invalid and also return the resource in part or full.

[2017-03-16 16:11] kadel opened #77 "Add support for securing Ingress using TLS"
Most users using  Ingress will probably want secure it using https.

OpenCompose should support that

https://kubernetes.io/docs/user-guide/ingress/#tls

[2017-03-16 16:12] surajssd commented on #76
@containscafeine `oc` error is not visible, i think there seems to be some problem in formatting?

[2017-03-16 16:14] kadel commented on #75
I'm not sure about that to be honest. I know that Kompose uses `-v` by default for test. But I've never found it useful, and in most cases just annoying.

If I'm not mistaken if test fails, it  shows output for that test as it was run with `-v`

[2017-03-16 20:43] concaf commented on #76
@surajssd fixed

[2017-03-20 10:35] concaf commented on #23
So,
- Labels are for identifying metadata and for identifying attributes of objects that are meaningful and relevant to users, but which do not directly imply semantics to the core system.
- Annotations are arbitrary non-identifying metadata which may be large, may be structured or unstructured, may include characters not permitted by labels, etc. Such information would not be used for object sele

[2017-03-20 11:23] kadel commented on #23
Agreed, lets start with labels.

What do you mean by 'top level directive'?

[2017-03-20 11:35] concaf commented on #23
@kadel yep, sorry about that, not a 'top level directive', but something like -

[code]

[2017-03-20 11:47] surajssd opened #78 "why is services a list/slice and not map"
why are services as list

[code]

and not map, like this?

[code]

[2017-03-20 16:38] surajssd commented on #25
Created a proposal for this, before going onto implementation, https://github.com/redhat-developer/opencompose/pull/79

[2017-03-21 10:15] surajssd commented on #23
With top level what I understood is a label that is declared once and then that is applied to everything opencompose tool generates, as a way to identify this was auto-generated with opencompose.

[2017-03-22 12:40] kadel commented on #73
there is also https://github.com/anguslees/kubecfg

[2017-03-22 14:11] tnozicka commented on #73
https://github.com/errordeveloper/kubegen

[2017-03-22 14:48] kadel commented on #57
How about changing default behavior and print  output to stdout by default?

if `--output-dir` is not set, print to stdout.
if `--outdir-dir` is set, save files to directory.

[2017-03-22 14:54] tnozicka commented on #57
@kadel I don't think it's connected to this issue. Even then we will be writing files and we should tell it to user.

[2017-03-22 15:22] #58 closed, assigned to tnozicka

[2017-03-23 15:48] kadel commented on #57
ok, I thought that it might be connected to this :blush:.
Separate issue needs to be created than

[2017-03-23 15:49] kadel opened #80 "if no option for output is specified, print to stdout"
How about changing default behavior and print output to stdout by default?

if --output-dir is not set, print to stdout.
if --outdir-dir is set, save files to directory.

[2017-03-27 13:15] surajssd commented on #23
I am assuming that this issue is only addressing labels and am proposing something for that.

I noticed one thing in opencompose that we want user to do things in only one way, but how feasible is that?

What I mean here is that we ask user to mention labels in each and every service but what happens when a user wants to do it for the entire project? shouldnt we have root level labels?

We could h

[2017-03-27 13:17] surajssd opened #81 "Support for annotations"
OpenCompose file should allow user to specify annotations on objects.

Created after breakdown of #23

[2017-03-27 13:39] kadel commented on #23
OK, Lets focus on label right now.
We are talking about opencompose syntax, can you show on example how labels should look like?

[2017-03-27 15:36] concaf commented on #23
@kadel @surajssd -

I agree, we should have both service and root level labels. Let's implement the service level labels first, and then the root level labels. We can abstract the methods accordingly.

[2017-03-27 15:41] concaf commented on #23
Moreover, after discussions with @kadel and @surajssd, I don't think it makes sense to have container level labels, which is
[code]
This does not make sense because all the containers for that service will be in the same pod and it will not make sense to apply labels on a pod level, the labels should trickle down from deployment and service level.

---

So, what I am proposing for service level la

[2017-03-30 06:58] #63 closed, assigned to concaf

[2017-03-30 09:45] kadel commented on #73
https://github.com/heptio/kube.libsonnet

[2017-03-30 09:46] kadel commented on #73
https://github.com/coreos/kpm

[2017-03-30 12:07] kadel opened #84 "Add support for imagePullPolicy"
Image pull policy. One of Always, Never, IfNotPresent. Defaults to Always if :latest tag is specified, or IfNotPresent otherwise. Cannot be updated. More info: http://kubernetes.io/docs/user-guide/images#updating-images

[2017-03-30 12:09] kadel opened #85 "Add support for setting strategy for Deployments"
Recreate vs. RollingUpdate

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

[2017-04-01 06:36] surajssd opened #86 "opencompose generates deployment per container"
I am using this opencompose file:

[code]

When run i get error as follows:

[code]

I think this was not discovered because we were only generating files and the file might have been over written.

[2017-04-03 13:36] pradeepto commented on #23
@tnozicka @kadel @surajssd Can we please have a look at the initial stab from @containscafeine ? He can proceed with further development. Thanks.

[2017-04-03 13:54] kadel commented on #23
Proposed syntax looks good to me.

[2017-04-03 14:00] concaf commented on #23
@kadel how does https://github.com/redhat-developer/opencompose/pull/82 look?

[2017-04-03 15:09] kadel commented on #23
don't know, haven't seen it yet :innocent:

[2017-04-04 15:37] #21 closed, assigned to tnozicka

[2017-04-05 07:43] tnozicka commented on #80
I am not sure what the correct default should be - are there any examples from other project on the default behaviour is in similar cases?

[2017-04-05 10:15] tnozicka commented on #80
I am slightly inclined to having default to:
a) print to stdout
b) require user to specify it explicitly - meaning the default would be an error with suggestions on `--outdir-dir -` for stdout or `--outdir-dir .` for current directory

By default witting several files into current directory might mess up with existing files. (Although printing **a lot** of gibberish to scroll terminal several time

[2017-04-05 11:54] tnozicka commented on #23
syntax lgtm

[2017-04-05 12:06] surajssd commented on #80
+1 for default to stdout also we need to rename that `--output-dir` to something better because it is not the only thing it does by name which says output in a directory!

[2017-04-05 12:13] tnozicka commented on #80
I don't believe we need to rename. This is fairly similar to what k8s does. `--file=-` means stdin

[2017-04-05 12:14] tnozicka commented on #80
and actually `--output-dir=-` say that "it won't be output-dir" => stdout

[2017-04-05 13:53] #57 closed, assigned to tnozicka

[2017-04-05 14:07] #55 closed, assigned to concaf

[2017-04-05 14:14] kadel commented on #80
I think that `--output-dir` is OK. Why you want to rename it. Just because `-o -` ?

[2017-04-06 05:34] surajnarwade opened #90 "support for restartpolicy"
restart options like, `no`, `on-failure`, `always`

[2017-04-06 06:37] surajnarwade opened #91 "support for command and args"
support for `command` in container spec (Pod.Spec.Container.Command)

[2017-04-06 08:16] kadel commented on #91
this is already in spec, but not yet implemented https://github.com/redhat-developer/opencompose/blob/master/docs/file-reference.md#command

[2017-04-06 08:18] #86 closed, assigned to nobody

[2017-04-06 08:41] concaf commented on #43
Can I take this up?

[2017-04-06 08:41] concaf commented on #24
Can I take this up?

[2017-04-06 08:43] kadel opened #92 "Cleanup validation structure and logic"
There are things that are validated in `encoder` (when unmarshaling) and other in `object` package (Validate function)

We should clean that up and come with something that will be more coherent with all validations in one place.

[2017-04-06 14:17] #19 closed, assigned to surajssd

[2017-04-07 12:15] ant31 commented on #51
Jsonnet syntax isn't that terrible
[code]

And you'll gain immediatly templating/lint/variables without doing it internally. which is a great to share and reuse opencompose packages

[code]

[2017-04-07 12:26] pradeepto commented on #51
@ant31 True that. It is not terrible.

But what do you think will happen when the file grows a bit more? Those {,[ s are already getting me worried. As discussed with you, we see the power jsonnet has but I am worried about the readability of jsonnet based examples. But I am not still ruling it out.

I really need to be convinced before we move to jsonnet or anything else. Would you have other sug

[2017-04-07 12:29] pradeepto commented on #51
Just found out about https://github.com/vstakhov/libucl @ant31 @kadel @surajssd @containscafeine
From it's readme :

JSON - canonic json notation (with spaces indented structure);
Compacted JSON - compact json notation (without spaces or newlines);
Configuration - nginx like notation;
YAML - yaml inlined notation.

Have a look.

[2017-04-07 13:04] ant31 commented on #51
Speaking of the transformation your are doing in the Go-code, they can all be done on the jsonnet side. IMO it would be awesome: configuration part would embed it's own library and let opencompose evolve freely and quickly without retro-compat issues.
currently the flow is:
[code]

Moving/embedding the transformation to the configuration is going to be a big win. You'll be able to reuse other json

[2017-04-07 13:12] ant31 commented on #51
On the other hand I've seen so many people complaining about indentation from Yaml :)
I can't count how many time I indented with the wrong key.

Jsonnet provide stackstrace and can be nicely integrated with IDE.
So yes on first glance it's less attractive but in practice it is very convenient and easy to use.

[code]

[2017-04-10 07:03] surajnarwade opened #93 "port mapping in service"
general port mapping in docker or docker-compose is `HOST:Container` but opencompose supports
`Container:service or host`, this may confuse new user

[2017-04-10 09:07] kadel commented on #51
Jsonnet is really powerful and has a tun of benefits. But I see one big problem with it:

If I'm ordinary web developer doing NodeJS or Ruby on Rails  whole day and I see Jsonnet syntax  I would  probably be much more confused and scared from how complicated it looks then from looking at regular Kubernetes primitives :-(

[2017-04-10 09:37] ant31 commented on #51
Json based configurations are pretty present: e.g package.json (http://browsenpm.org/package.json).

- [support-for-command-and-args](https://github.com/redhat-developer/opencompose/issues/91)
- [support-for-restartPolicy](https://github.com/redhat-developer/opencompose/issues/90)
- [support-for-annotations](https://github.com/redhat-developer/opencompose/issues/81)
- [support-for-initContainers](

[2017-04-10 10:03] kadel commented on #51
OK, I shouldn't have use NodeJS  as example :smile:

yep :unamused:, you are completely right.
Those are valid concerns and this is the biggest risk with our current approach. If we end up rewriting everything from API we failed big time. Even I'm not convinced that this is best way to do it, right now we just don't have anything better :-(

I'm afraid that just adding templating in form of Jsonne

[2017-04-10 11:55] surajssd opened #94 "sometimes test in pkg/util takes more time"
$subject

[code]

in another run

[code]

another run of same

[code]

[2017-04-10 12:13] ant31 commented on #51
I did a small 'working' poc to show a concrete example, I tried to reuse more-or-less opencompose syntax:
https://gist.github.com/ant31/882b642e8f6c29123919d92eca993590

[2017-04-10 14:46] kadel commented on #51
that looks interesting 👍
can you share `lib/opencompose.libsonnet`?

[2017-04-10 16:50] ant31 commented on #51
@kadel source:
https://github.com/ant31/opencompose-jsonnet  (it's like ~1 hour work so it's messy)

[code]

[2017-04-10 17:29] cdrage commented on #51
@kadel @ant31 @tnozicka @pradeepto

This is a really good and long discussion on how they decided what format to use for the `dep` tool for Golang.

In the end they chose TOML over YAML and other formats.

[2017-04-10 17:32] cdrage commented on #51
Although their use-case was different (it was originally debating about comments in yaml/json), it gradually turned into a good analysis of all the different formats.

[2017-04-10 17:35] cdrage commented on #51
Besides, if we pick YAML it's still a superset of JSON so we'll get that too, regardless what the user chooses to write.

[2017-04-11 05:48] surajnarwade opened #96 "Add coverage & travis badges in README"
Add code coverage badge in README file

[2017-04-11 07:17] surajssd opened #97 "`unset value` error is giving internal data structure names not the field value"
I am getting this error for the opencompose file missing the `image` field
[code]

I am expecting an error like this

[code]
notice here the field name is not from the internal data structure but from the opencompose file.

The opencompose file I used was:

[code]

@kadel this is similar issue we faced in kompose, where we needed a mapping of the opencompose objects to the internal data structures

[2017-04-12 12:14] concaf opened #99 "Issues with encoding_test.go"
Hi,

There are some problems which I encountered while working with encoding_test.go, let's fix them.
Let's keep separate commits/PR's for each one of them.

- [ ] No comments, so checking which tests are testing what gets a bit confusing, e.g. `TestService_UnmarshalYAML` and `TestDecoder_Decode` seem a bit overlapping at first sight

- [ ] In most of the `tests` structs, the `name string` field i

[2017-04-12 14:26] kadel commented on #92
still don't know how to do it properly. `encoder` should have validate input. All validation can't be done only in `object` pkg.

[2017-04-12 14:47] brainstorm commented on #23
@containscafeine, sorry if this is not the place to ask this question but I was taking a look at the issues and you mentioned that "Labels are for identifying metadata and for identifying attributes of objects that are meaningful and relevant to users, but which **do not directly imply semantics to the core system**."

Where can I go to if I want the semantic labels? Especifically [Kubernetes Exte

[2017-04-12 16:16] kadel opened #101 "Support for External IPs (Service)"
[Kubernetes ExternalIPs](https://kubernetes.io/docs/concepts/services-networking/service/#external-ips)

requested by @brainstorm:

Context: I came to [test out opencompose](https://github.com/brainstorm/cgtd/commit/344fa1a15d5874c3dff17e91537864b77b5fd2b1) since I needed a way to assign [an already existing domain/AWS Elastic IP to a service](https://github.com/brainstorm/cgtd/commit/1033b0b7fa7a

[2017-04-12 16:21] kadel commented on #23
Hi @brainstorm,
thank you for you input!

In Kompose we had to use labels to add new stuff to file.
But here we have our own file spec, so we can add proper support for things like Service types and also ExternalIPs.

I've created new issue regarding ExternalIPs - https://github.com/redhat-developer/opencompose/issues/101
We can discuss design and implementation of  this feature there.

[2017-04-13 10:44] surajnarwade commented on #99
@containscafeine @pradeepto @kadel  I am picking the second task from the list.

[2017-04-13 13:34] kadel commented on #99
They might seem like they are overlapping but that is ok they operate on different level.
You can see what they are testing just from names.

`TestDecoder_Decode` tests  `Decode` function on `Decoder` type (`func (d *Decoder) Decode ...`)

`TestService_UnmarshalYAML` tests  `UnmarshalYAML` function on `func Service` type ( `(s *Service) UnmarshalYAML ...`)

[2017-04-13 14:19] brainstorm commented on #101
I have been playing with plain kubectl commands and In my usecase it would suffice to have this kind of definition:

[code]

I know that is very AWS-specific, so think whatever internal abstraction opencompose has.

Right now it seems like opencompose does generate an EIP since the output from convert has a `LoadBalancer` involved:

[code]

So editing the resulting kubernetes services file to:

[c

[2017-04-13 14:47] brainstorm commented on #101
Got the possible cause for not being able to connect there... the externalip is not associated to any private ip in the cluster (second in the AWS console list):

![screen shot 2017-04-13 at 16 44 44](https://cloud.githubusercontent.com/assets/175587/25009886/925222f0-2068-11e7-8a7f-ea7e0a69d113.png)

So I guess that opencompose would have to make that assignment too (thinking out loud)... Next st

[2017-04-17 08:17] surajssd commented on #99
I would say add name to the tests that are big with lot of metadata and take up more than a page.
One liner tests are fine without name.

[2017-04-17 12:37] surajnarwade opened #104 "Adding `go lint` in makefile"

[2017-04-18 08:05] surajnarwade opened #106 "Validating service name in object.go"

[2017-04-19 16:12] surajssd commented on #106
This is being taken care in my current PR https://github.com/redhat-developer/opencompose/pull/88

[2017-04-19 16:18] surajssd opened #110 "check the gofmt and other go related errors for every PR"
$subject

discovered this at https://github.com/redhat-developer/opencompose/pull/82/files#r112248177

[2017-04-19 16:29] surajssd commented on #110
my bad it's checked already, ignore it, closing!

[2017-04-19 16:29] #110 closed, assigned to nobody

[2017-05-05 14:25] kadel opened #114 "Mounting same volume to two different path generates invalid Deployment"
It should possible to mount one volume to two different paths in the same container.

If I do this

[code]

it generates Deployment with two volumes with the same name. In this case data volume should be there only once.
[code]

You get following error deploying generated Deployment

[code]

[2017-05-05 18:57] #25 closed, assigned to surajssd

[2017-05-09 09:30] concaf opened #116 "No glide, glide-vc documentation"
There is no documentation about adding new dependencies to the project. glide related docs will help.

[2017-05-16 10:08] concaf opened #118 "Changing env definition"
Currently, environment variables are defined as -

[code]

This limits the ability to extend the environment variables, like supporting secrets.

Let's change the environment variables definition to -

[code]

[2017-05-16 10:24] concaf opened #119 "Change syntax for referencing higher value fields"
Currently, this is applicable only to
The way root level volumes are referenced are -

[code]

We should change the standard for such references to other higher level definitions to `<fieldname>Ref`, in this case, changing `volumeName` to `volumeRef` i.e.

[code]

[2017-05-16 15:15] concaf opened #120 "Services defined in OpenCompose should be extendable by Kubernetes YAML snippets"
We should make the OpenCompose spec in a way that it can be made extensible by valid Kubernetes object definitions which are not supported by OpenCompose.

The spec should be able to merge Kubernetes objects in some way.

Let's discuss more on this issue.

---

Writing out loud here, does something like this make sense -

[code]

[2017-05-17 08:24] concaf commented on #118
picking this up

[2017-05-17 13:56] #23 closed, assigned to concaf

[2017-05-18 04:40] surajssd commented on #119
Taking this up!

[2017-05-18 07:31] surajssd opened #122 "Support for `imagePullPolicy`"
Lot of configurations from fabric8, helm chart repo; I saw had this option specified explicitly and it was not just set to `Always`, the values were different. Can we add support for this in OpenCompose?

[code]

Information about [`imagePullPolicy`](https://kubernetes.io/docs/api-reference/v1.6/#container-v1-core).

[2017-05-18 07:38] surajssd opened #123 "Support for `resources` per container in OpenCompose"
Every config that is out there and needs to be deployed in production has `resources` defined in there. How about we add support for that in OpenCompose.

Resources info:

[code]

[Docs](https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-ram-container/) about resources, and [API reference](https://kubernetes.io/docs/api-reference/v1.6/#resourcerequirements-v1-core).

[2017-05-18 07:47] surajssd opened #124 "Support for configMap"
There is a heavy usage of `configMap` in community config repos like fabric8, helm charts, etc. Apart from `secret` this is one of the important thing that needs to be added. Having app configuration in configmap over k8s configurations allows someone to edit configs in production running services and have it reflected immediately across the cluster. Pattern of using configMaps more is emerging it

[2017-05-18 08:30] surajssd opened #125 "Support for specifying `serviceAccount`"
Some applications that were deployed needed some special access like talking to kubernetes API server. And hence I found this to be present in lot of configuration with different value.

[code]

[Docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/) about this, and [API reference](https://kubernetes.io/docs/api-reference/v1.6/#podspec-v1-core).

[2017-05-18 09:44] surajssd commented on #44
@tnozicka @kadel can someone tell me why support CronJobs over Jobs? Is it because Job is a special usecase of CronJob?

[2017-05-18 09:50] surajssd opened #126 "Support for initContainers"
Add support for initContainers in OpenCompose. Might need an extra field in the way we define containers, just adding an extra field which defines a container in the list of containers is a normal pod's container or init container.

Docs: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
API references: https://kubernetes.io/docs/api-reference/v1.6/#podspec-v1-core

[2017-05-18 10:09] surajssd opened #128 "Add support for deployment strategy"
In kompose development we discovered some [issues with deployment strategy](https://github.com/kubernetes-incubator/kompose/issues/264), like if a pod had `volumeMounts` and it had deployment strategy as `RollingUpdate` it would cause issues there.

So I propose we do similar things here in OpenCompose, if a pod has volumeMounts we change the deployment strategy to `Recreate`.

We can do something

[2017-05-18 10:16] surajssd opened #129 "In container support for specifying command"
Right now with OpenCompose there is no way we can define a command that overrides the docker image's `ENTRYPOINT`. If someone wants this to happen they have to bake it inside the container image. This would be a great thing to have to override what runs inside container image on k8s.

Read about it at: https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/

[co

[2017-05-18 10:21] surajssd opened #130 "Support for creating headless service"
With kompose we by default create a headless service when no port is defined in the configuration. We can do something with intelligence here.

If no ports info given in OpenCompose file and we can remotely `describe` the image config and find if any port info is given then we create normal service, otherwise if we cannot get port info from anywhere then we just create headless service.

OR We can

[2017-05-18 10:50] surajssd opened #131 "[metaissue] Three months goals for OpenCompose. (May 17th - August 8th)"
These are the issues that we are going to work in upcoming 3 months starting May 16th 2017.

* Goals
- [ ] [Support for command and args](https://github.com/redhat-developer/opencompose/issues/91)
- [ ] [OpenCompose files should be extendable](https://github.com/redhat-developer/opencompose/issues/120)
- [ ] [Support for multiple delivery environments](https://github.com/redhat-developer/opencompo

[2017-05-18 11:01] surajssd commented on #129
this is dup of https://github.com/redhat-developer/opencompose/issues/91 closing!

[2017-05-18 11:01] #129 closed, assigned to nobody

[2017-05-18 11:18] surajssd commented on #94
closing since this was one time thing!

[2017-05-18 11:18] #94 closed, assigned to nobody

[2017-05-18 11:21] pradeepto commented on #84
Related to https://github.com/redhat-developer/opencompose/issues/122

[2017-05-18 11:22] pradeepto commented on #84
Closing as duplicate

[2017-05-18 11:22] pradeepto commented on #122
Adding link from the duplicate issue for posterity. https://kubernetes.io/docs/concepts/containers/images/

[2017-05-18 11:23] surajssd commented on #61
This is done!

[2017-05-18 11:23] #61 closed, assigned to nobody

[2017-05-18 11:24] pradeepto commented on #68
Closing as duplicate https://github.com/redhat-developer/opencompose/issues/126

[2017-05-18 11:24] #68 closed, assigned to nobody

[2017-05-18 11:35] pradeepto opened #132 "Write a document which describes the spec design."

[2017-05-18 12:33] surajssd opened #133 "Support for `opencompose explain`"
Support for `opencompose explain`

I think in terms of user experience with respect to kubernetes and openshift, their cli has command `explain` which tells you what specific field in the config is. All you need to do is give the complete reference path.

If we add something similar to that in OpenCompose cli it would be really great user experience.

Example of `kubectl explain`

[code]

Similarl

[2017-05-18 12:40] surajssd opened #134 "Abstract pod spec creation part"
$subject, because this will help us add support for multiple controllers, right now the only controller we support is `deployment`, and we intend to support other controllers like `Jobs` so this will keep the pod creation in one place.

[2017-05-18 12:47] surajssd commented on #78
I think I found answers to my own question:

- We will lose out on the order when we create map
- Mapping something that is map in the opencompose and putting it into something that is list in k8s, will make it hard for us to test since the order will always be different. To get more context about this see the issue in kompose https://github.com/kubernetes-incubator/kompose/pull/596
- We can add t

[2017-05-18 12:47] #78 closed, assigned to nobody

[2017-05-18 14:30] concaf opened #135 "Update IRC channel in README"
Let's add this to README.md so anyone can follow the project closely

[2017-05-19 10:10] kadel commented on #133
this will be nice to have, but I wouldn't start with that before we have stable file format

[2017-05-19 10:16] kadel commented on #130
I don't think we will create headless services with OpenCompose.
In Kompose it was a workaround for the fact that in docker-compose users don't have to specify a port for application to communicate with each other.

OpenCompose will always require users to specify port if they want to have application exposed.
With that, we will get rid of ambiguity that was in docker-compose.

If you agree we can

[2017-05-19 10:17] #84 closed, assigned to nobody

[2017-05-19 13:36] kadel commented on #135
Please don't advertise it until at least one of us is OP, and we can register the channel.

[2017-05-19 18:04] #118 closed, assigned to concaf

[2017-05-22 10:14] kadel commented on #135
OK, channel is registered now, we can advertise it as much as we want ;-)

[2017-05-22 12:36] surajssd commented on #135
:+1:

[2017-05-23 15:46] kadel commented on #120
@containscafeine
Why do you need `field`?  What it does?
Shouldn't  be file just enough?

[2017-05-23 16:02] kadel commented on #120
More and more I'm thinking about this one thing worries me a bit.

We will merge something that gets generated from opencompose with something that user created.
Creating patches for this will be hard, as a user will have to understand what primitives are generated and how they look like.
But can't think of better solution right now :-(

[2017-05-23 16:12] concaf commented on #120
Shouldn't be file just enough?

@kadel - `field` should help when we simply want to change one field, so we can easily refer to it using how we refer to as YAML fields, and change it without writing a full blown indented YAML.

[2017-05-24 07:48] kadel opened #137 "Remove proposals from docs"
related discussion https://github.com/redhat-developer/opencompose/pull/136#issuecomment-303061614

[2017-05-24 07:49] #119 closed, assigned to surajssd

[2017-05-24 07:58] jstrachan opened #138 "experimental new `App` resource kind"
So I've noodled the opencompose examples and I love their concise nature. What worries me is leaky abstractions and keeping in sync with all the detail in kubernetes and keeping in sync with the kubernetes resources which keep changing over time. e.g. from a quick look at the issue tracker there's already a fair few gaps: #134, #130, #128, #126, #125, #124, #123, #122, #120, #114, #101, #93, #91,

[2017-05-24 08:04] jstrachan commented on #138
Incidentally the java code is all code generated from the underlying kubernetes source code so these Java classes keep in sync with the kubernetes structs; this is obviously much easier to do in golang as we can then just reuse the kubernetes `Spec` structs directly ;)

So over the time this model should keep pace with the underlying changes in the kubernetes model nice. The only thing we need to

[2017-05-24 08:26] pradeepto commented on #138
Note : Data Transfer Object == DTO aka struct in Go language terms.

[2017-05-24 08:28] jstrachan commented on #138
thanks @pradeepto - I stuck to referring to them as struct in the above to avoid more confusion with other opencomposers

[2017-05-24 12:13] jstrachan commented on #138
incidentally another argument against the `services:` header longer term for opencompose is that services are assumed to be kubernetes `Service` resources in the kubernetes ecosystem; whereas opencompose is more about making apps / microservices

[2017-05-24 13:15] kadel commented on #138
Hi @jstrachan It looks interesting and I like the idea of "letting the real kubernetes structs shine through".

With this approach, especially with having 1 app.yaml file for every app (separate file for db and application), how would you handle things that are shared between applications? For example, Secrets that are defined once, but they can be used by multiple application.

[2017-05-24 13:40] jstrachan commented on #138
So the first thing is Secrets should never be included in your applications distributed YAML that gets moved between dev / test / staging / production; they should always be curated on a per environment basis separately from the app.  e.g. in production Secrets will be generated/managed/rotated by operations folks rather than the developer who wrote the microservice.

So today in the `app.yml`'s `

[2017-05-24 13:49] jstrachan commented on #138
Longer term I'm expecting Databases and Message Queues and whatnot to not be specified as an `app.yml` but specified using the [Service Catalog](https://github.com/kubernetes-incubator/service-catalog/) so that your `app.yml` just references known `Service` resources by name and may include some Service Catalog resources such as an [Instance](https://github.com/kubernetes-incubator/service-catalog

[2017-05-25 07:00] concaf opened #139 "Validate generated Kubernetes artifacts"
It'd be great if we start validating the generated Kubernetes artifacts against https://github.com/kubernetes/kubernetes/blob/master/pkg/api/validation/validation.go

[2017-05-25 11:20] concaf opened #141 "No test expecting success for volumeRef with mountPath"
We need to add $SUBJECT to `TestContainer_Validate` in object_test.go

Parking here to come back to this later

[2017-05-25 11:22] concaf opened #142 "Abstract `object.Mount` tests in object.go"
We need to abstract away tests for `object.Mount` from `func (c *Container) validate() error` to `func (m *Mount) validate() error`, and call from `func (c *Container) validate() error`

parking here for later

[2017-05-25 17:02] kadel commented on #120
**OpenCompose extensions**

This is the way how to extend OpenCompose format to something that is not implemented in base OpenCompose language.

Extensions (files describing how to extend generated objects) describing
which object should be extended/patched and how.

For describing how to patch object we can use Kubernetes [Strategic Merge Patch](https://github.com/kubernetes/community/blob/master

[2017-05-27 10:22] surajssd commented on #120
Kubernetes also allows you to extend pod spec on the fly now using something called `PodPreset`.

[Injecting Information into Pods Using a PodPreset](https://kubernetes.io/docs/tasks/inject-data-application/podpreset/)

[2017-05-29 12:52] surajssd commented on #138
I like the consice way of defining the application using k8s structs, where we are not reinventing things.

Also the point you made about the user caring only about their application and not about anything else is a valid one.

But I think the tool might not be able to give good user experience if we assume things to be already present, like `secrets`. So how does a user who want to define `secret

[2017-05-29 20:24] concaf commented on #138
@jstrachan -

Hey James, thanks for bringing this up, this has opened room for a much broader view and discussions.

Thoughts -

If we are modifying the pod spec to add other primitives, then it's not a standard Kubernetes spec anymore, right? This would mean that we have already modified the pod spec to include other primitives.

So, the way we have been writing the OpenCompose spec has been with

[2017-05-30 03:17] joshwget opened #146 "Could services be a map?"
Any reason why the second syntax couldn't be used? Maybe it's a matter of preference, but I think a map would work well for this (also resembles Docker Compose a bit more).

[code]
[code]

[2017-05-30 06:43] concaf commented on #146
Hey @joshwget, we have had similar discussions on #105 and elsewhere, and we decided that the OpenCompose spec should take control of all the keys in the spec to maintain consistency and to allow extending fields.
e.g. - we recently refactored environment variables from -
[code]
to
[code]

The latter allows us to add more fields like referring to a secret in the env variable, without breaking the

[2017-05-30 11:03] kadel commented on #120
OpenCompose tool should be able to combine multiple opencompose files.
Example:
I have OpenCompose file for some service (like db) with secrets defined.
I have another OpenCompose file with my application that is using that service and needs secrets that are defined with that service.
OpenCompose tool should be able to combine those two opencompose files and generate valid output.

[2017-05-30 15:18] joshwget commented on #146
If I'm reading things correctly it seems like the root reason is to avoid polymorphic fields, like `env` would be if both of the following syntaxes were valid.

[code]
[code]

I'd argue this is one of the key strengths of Docker Compose. It allows a lot of the boiler plate to be avoided when it's not necessary.

[2017-05-31 10:39] kadel commented on #146
@joshwget yes you are right. But having multiple ways of writing things can also sometimes lead to confusion.
One of the rules that we are trying to follow is that OpenCompose has only one way of writing things.
We might try to add shortcuts like this in the future, but right now we will try to stick with only one way.

[2017-05-31 16:13] #142 closed, assigned to concaf

[2017-06-01 13:07] concaf commented on #139
We can use this something like -
[code]

[2017-06-01 13:15] concaf commented on #139
When we will do this, we will required the following -

commit message:
[code]

glide.yaml -
[code]

[2017-06-01 19:47] cdrage opened #152 "Remove "tomaskral/nonroot-nginx" to "nginx""
We should use the more universal nginx container (the official one from Docker hub).

[2017-06-01 19:50] #36 closed, assigned to nobody

[2017-06-01 19:52] cdrage opened #153 "Implement 'up' and 'down' command, guide users to avoid 'convert'."
Since OpenCompose is a *higher* abstraction, we should guide users to use `opencompose up` and `opencompose down` rather than `opencompose convert`.

`opencompose convert` should be used as a _last_ resort in terms of converting to Kubernetes artifacts, rather than what's currently suggested.

[2017-06-02 11:06] surajnarwade commented on #116
Taking this up

[2017-06-02 11:07] kadel commented on #152
The thing is that `tomaskral/nonroot-nginx` will work also on openshift ;-) Official won't.

I don't care about this particular image, but it should be something that doesn't run as root inside the container.

We don't have support for OpenShift yet, but once we have we will have to change all examples or create new/special for openshift.

[2017-06-02 11:09] kadel commented on #153
I would rather use something else than up/down, but I agree with the general idea.

It was a low priority,  having usable language is more important right now.

[2017-06-02 13:48] kadel commented on #134
I don't think it is worth to work on this until there is need for it.

[2017-06-02 14:30] jstrachan commented on #138
@surajssd I think opencompose should focus on helping application developers make apps in the correct way for kubernetes, as immutable blobs of YAML that are then used to deploy apps into any environment/namespace/cluster of kubernetes. That doesn't mean it has to solve all problems. e.g. opencompose should not create PVs - thats something for Ops folks to setup on a per cluster basis. Similarly s

[2017-06-02 14:41] cdrage opened #156 "Add quickstart, userguide and setup docs"
Nothing too elaborate, but separating and growing the docs with a:

- [ ] Quickstart
- [ ] Userguide
- [ ] Setup

[2017-06-02 14:42] cdrage commented on #156
I'll try to pick it up this sprint.

[2017-06-02 14:43] jstrachan commented on #138
@containscafeine I'm not suggesting we modify any structs / types from kubernetes - I'm suggesting we extend those structs to add more fields. Thats easy to do in golang via struct extension or java (using base classes) - which is what I did in the [Java implementation](https://github.com/jstrachan/fabric8-maven-plugin/blob/app-enricher/enricher/app/src/main/java/io/fabric8/maven/enricher/app/mode

[2017-06-02 15:03] pradeepto commented on #138
This topic is being discussed here: Issue - https://github.com/redhat-developer/opencompose/issues/47 and Proposal - https://github.com/redhat-developer/opencompose/pull/149

[2017-06-02 15:30] jstrachan commented on #47
In my experience different people are in charge of the different resources. e.g. the app developer creates and maintains the main application YAML which is identical in all environments. Then each environment is managed by some Ops person who then owns and configures the environment specific stuff (e.g. PVs / Secrets / custom ConfigMap changes  / OpenShift Template or Helm parameters).

e.g. team

[2017-06-05 08:28] concaf opened #159 "Add coverage badge to the repo"
It would be great to have a coverage badge for the repo (from coveralls.io?)

[2017-06-05 08:42] kadel commented on #47
Completely agree. This what we are trying to do.

[2017-06-05 08:49] surajnarwade commented on #159
@containscafeine , issue is already there at https://github.com/redhat-developer/opencompose/issues/96

[2017-06-05 08:55] pradeepto commented on #159
Closing as duplicate.

[2017-06-05 08:55] #159 closed, assigned to nobody

[2017-06-05 10:12] concaf opened #160 "Set up logging"
We don't log.
We should log.

Let's decide on a logging package and start using it for different level of logs.
We can consider -
- google/glog
- sirupsen/logrus
- log from stdlib
- juju/loggo
- uber-go/zap

[2017-06-05 13:34] jstrachan opened #161 "add a new SecretClaim resource?"
this kinda came up in various discussions https://github.com/redhat-developer/opencompose/issues/138#issuecomment-303726800 https://github.com/redhat-developer/opencompose/pull/149#issuecomment-306184475 https://github.com/redhat-developer/opencompose/issues/47#issuecomment-305821903 and is kinda a follow on from the `App` idea proposal: https://github.com/redhat-developer/opencompose/issues/138#i

[2017-06-05 13:50] #116 closed, assigned to nobody

[2017-06-05 13:52] cdrage commented on #160
:+1: for sirupsen/logrus

edit: https://github.com/google/glog is in c++, so nah

[2017-06-05 13:57] kadel commented on #160
I don't really see need for logging right now to be honest

If there is no good reason I would stick with stdlib

[2017-06-05 14:25] surajssd commented on #153
But for this I would directly call `kubectl` or `oc` commands underneath, because it's a huge pain to do `up` and `down` by ourselves. Let's use the binaries directly(since they are good at doing it).

And we can assume that for someone using a k8s cluster will have a kubectl binaries available locally.

[2017-06-05 14:49] kadel commented on #161
This might be interesting, it's something that we should definitely investigate deeper.

We need to get #113 in first. That we can experiment with this more.

If we decide to remove Secretes values in favor of this we still can.

[2017-06-05 14:52] cdrage commented on #153
I'd vote the opposite and do direct API calls. But using kubectl directly is the best in terms of getting a POC out.

Otherwise, as @kadel said, more focusing on the usable language!

[2017-06-05 14:52] kadel commented on #153
I would say that parsing output of kubectl commands is a much bigger pain.

With https://github.com/kubernetes/client-go everything got much easier.

But let's discuss this once we have a real need for this.

[2017-06-06 11:35] concaf commented on #160
@cdrage - both Kubernetes and OpenShift use it, worth considering I think.

@kadel - I think we should start doing at least debug logs sooner than later, it'd really help in debugging, etc.

I don't think they support structured logging :(

[2017-06-08 08:24] #80 closed, assigned to surajnarwade

[2017-06-09 12:39] kadel opened #165 "container port exposed via multiple services results into invalid Deployment"
[code]

Why you try convert opencompose file like this it results into multiple issues

1) Deployment is invalid. `Deployment.extensions "helloworld" is invalid: [spec.template.spec.containers[0].ports[1].name: Duplicate value: "port-8080", spec.template.spec.containers[0].ports[2].name: Duplicate value: "port-8080"]
`
2) It generates two services with same name

[2017-06-12 07:27] concaf opened #166 "Make container name optional if only service is specified"
As per discussions on #164, @kadel thinks that if there is only one service in the OpenCompose file, then we should make specifying the container name optional and assign an auto-generated name to the generated PodSpec.

While I think that we should keep one behavior throughout all the cases and keep container name to be mandatory.

This is the issue which tracks this discussion :)

[2017-06-12 09:26] concaf commented on #138
After thinking about it for some time, I think that extending PodSpec instead of writing our own similar looking spec makes sense because -

- we do not have to play catch up to the new features being added to PodSpec
- it decreases the developer time for adding new fields by a large difference
- a lot of extension problems get taken care of automatically, because we don't need extensions anymore

[2017-06-12 09:44] kadel commented on #138
No, this is not possible.

If we end up doing this that this part will have to be automated. We will have to figure out how to keep it in sync with PodSpec automatically, or with only little effort.

[2017-06-12 10:09] concaf commented on #138
@kadel I was wrong, I should have studied structs more carefully :rofl: , I just talked to @baijum and found out that when we embed a struct like -

[code]
then the field in the child struct takes precedence and the conflicting field value in the parent struct is set to its zero value. I have a written a small snippet here - https://play.golang.org/p/L4eoQf33F1

So, using this, we can extend the P

[2017-06-12 10:56] kadel commented on #138
hmm, interesting. Good to know ;-)

But we should be careful with what we replace. We can discuss this after we evaluate Suraj's POC

[2017-06-12 13:30] concaf opened #167 "Passing in multiple files does not work"
OpenCompose CLI barfs when multiple files are provided.

[code]

[code]
Neither of the above cases work.

[2017-06-12 15:19] cdrage opened #168 "Refactor CMD / cobra implementation"
It's confusing that we have a `cmd` package that is then referenced / re-implemented elsewhere in the `pkg/cmd` folder.

There are parts in the code that do not follow the cobra / CLI standards such as https://github.com/redhat-developer/opencompose/blob/master/pkg/cmd/util/helpers.go where it is four folder deep as well as confusing functionalities as well as unorthodox / non-standard usage-error

[2017-06-13 08:24] kadel commented on #168
Are there any real benefits for moving it? I don't think it is worth refactoring something just for the sake of refactoring it, or that some other projects do it differently.

I don't disagree with you, but  I don't think this is worth doing unless there is some real need for doing it.

Don't understand that you mean :-(

I like `--distro` much more than provider.  OpenCompose will always use Kube

[2017-06-13 08:52] concaf commented on #167
Update:

- [ ] The first problem is that our vendored viper is pretty old, and hence multiple files are not even getting parsed. This is being fixed by updated the vendor directory.

But there is more to this problem, merging different `object.OpenCompose` structs has not been implemented yet https://github.com/redhat-developer/opencompose/blob/master/pkg/cmd/convert.go#L106, and currently, only t

[2017-06-13 09:07] concaf opened #170 "add a root level application identifier field"
So right now, passing in multiple files does not work (#167), and we will be implementing merging of OpenCompose files https://github.com/redhat-developer/opencompose/issues/167#issuecomment-308050943 as a default behavior, but I think it would be cool to have a root level _optional_ identifier like `app` or `application` or `namespace`, which allows defining the name of the larger application.

A

[2017-06-13 10:47] surajnarwade commented on #71
@kadel , I think we have this support now ?

[2017-06-13 12:32] kadel commented on #71
I don't think so. Our tooling is still building just for current platform

[2017-06-13 13:49] cdrage commented on #168
@kadel Ideally, it's my gripe with the unconventional implentation of Cobra, having a lot of functionality happen in the `cmd` folder which should be refactored into a separate folder. That's my only issue.

It works fine! Don't get me wrong! But going through some of the Cobra code I found that I had to jump between 3 files to find out how it's functioning correctly.

[2017-06-13 14:41] cdrage commented on #71
@kadel @surajnarwade
Bit confused what this may mean, I've release ARM / AMD64 / macOS / Windows here: https://github.com/redhat-developer/opencompose/releases and within our release tooling it's compiled using `make cross` which uses:

[code]

I think we can close this?

[2017-06-14 10:09] kadel commented on #71
ahhh, my bad. Didn't noticed that there already is `make cross`

[2017-06-14 10:09] kadel commented on #71
@surajnarwade is right, we can close this

[2017-06-14 10:09] #71 closed, assigned to nobody

[2018-01-15 10:32] #47 closed, assigned to nobody

[2018-01-15 10:32] #45 closed, assigned to nobody

[2018-01-15 10:32] #44 closed, assigned to nobody

[2018-01-15 10:32] #43 closed, assigned to concaf

[2018-01-15 10:32] #24 closed, assigned to nobody

[2018-01-15 10:32] #22 closed, assigned to nobody

[2018-10-31 15:22] #156 closed, assigned to cdrage

[2018-10-31 15:22] #153 closed, assigned to nobody

[2018-10-31 15:22] #152 closed, assigned to nobody

[2019-12-10 14:11] #26 closed

[2019-12-10 14:12] #168 closed, assigned to nobody